@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-anchor: none;
}

.navbar a {
  padding: 0.7rem;
  border-radius: 5px;
  transition: 0.5s;
}

.navbar a:hover {
  background-color: rgb(231, 231, 231);
}

aside {
  position: fixed;
  height: 100%;
  padding: 3.5rem 4rem 0 2rem;
  right: -320px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: 0.6s;
  z-index: 11;
}

aside.active {
  right: 0;
}

aside i {
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  transition: 0.5s;
}

.aside i:hover {
  background-color: #ebebeb;
}

aside a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 0.9rem;
  margin: 2rem 0 0 0;
  padding: 0.5rem 5rem 0.5rem 0.4rem;
  border-radius: 5px;
  transition: 0.5s;
}

aside a:hover {
  background-color: #ebebeb;
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.35);
  inset: 0;
  backdrop-filter: blur(3px);
  display: none;
  z-index: 11;
}

.backdrop.active {
  display: block;
}

.swiper-scrollbar-drag {
  background: #1e1b36 !important;
}

.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
  height: 8px !important;
}
